* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lobster', cursive;
    background-color: #e4fceb;
}

header {
    background-color: #ff7700;
    width: 100%;
    min-height: 10vh;
    padding: 20px 0;

}

.container {
    max-width: 1060px;
    padding: 0 10px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 55px;
    font-weight: 600;
    color: #e4fceb;
}

.btn-cart {
    border: none;
    background: none;

    &__icon {
        width: 50px;
        height: 50px;
    
        & path {
            fill: #e4fceb;
        }
    }

    &__icon:hover {
        width: 55px;
        height: 55px;
        cursor: pointer;
        
        & path {
            fill: #bcf5cc;
        }
    }
}

main {
    min-height: calc(100vh - 10vh - 50px);
    padding: 30px 0;
}

.content {
    background-color: #ffffffaa;
    min-height: calc(100vh - 10vh - 110px);
    border: 2px solid #bbbbbb;
    border-radius: 20px;
}

.products {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

.product-item {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);

    & h3 {
        margin: 8px 0;
        font-size: 21px;
    }

    & p {
        color: #ff7700;
        font-size: 25px;
        font-weight: 900;
    }

    & .by-btn {
        margin: 8px 0 15px;
        padding: 3px 15px;
        font-family: 'Lobster', cursive;
        font-size: 18px;
        color: #e4fceb;
        background-color: #ff7700;
        border: none;
        border-radius: 10px;
    }

    & .by-btn:hover {
        cursor: pointer;
        color: #ff7700;
        background-color: #bcf5cc;
    }
}

footer {
    min-height: 50px;
    width: 100%;
    background-color: #ff7700;
}
